.description span {
  font-size: 20px;
}
.description {
  font-size: 16px;
}
#comment_text {
  width: 60%;
}
.mt-30 {
  margin-top: 30px;
}
.text-color {
  color: red;
}
.align {
  text-align: right;
}
.alert {
  text-align: center;
}
.jumbotron p {
  font-size: 16px;
}
.color {
  color: red;
}
.search input[type='search'] {
  font-size: 20px;
  padding: 32px 100px 32px 30px;
  width: 700px;
  margin-right: -4px;
}
.search input[type="submit"] {
  border-radius: 0px 8px 8px 0px;
  border: 0px none;
  bottom: 0px;
  box-shadow: none;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  padding: 35px 20px;
  margin: -9px 0 0;
}
.search {
  display: inline-block;
  margin: 100px 120px 30px;
}
.size {
  font-size: 20px;
}
.mt-neg20 {
  margin-top: -20px;
}
