<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'company', 'data-turbolinks-track' => true %>
<% end %>
<div class='container'>
  <h2 class='text-center'>Add Category</h2><br />
  <%= render 'form' %>
</div>
