<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'company', 'data-turbolinks-track' => true %>
<% end %>
<div class="form pt-70">
  <h2 class='company-heading'>New Company Registration</h2>
  <%= render 'form' %>
</div>
