<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div style='margin: 0px auto;text-align: center;font-size: 12px;color: #a2a2a2; padding-bottom: 6px;' ></div>
    <table style='width: 100%;' cellspacing='0' cellpadding='0' >
      <tbody>
        <tr>
          <td>
            <table style='width: 100%;'>
              <tbody>
                <tr>
                  <td style='font-size: 12px; font-weight: bold; color: #fff; line-height: 1.5em; font-family: Helvetica, Arial, sans-serif; width: 100%; text-align: center; background: #98c332; padding: 8px; margin: 4px;'>Confirmation Instructions</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style='text-align: center; padding-left: 4px;'>
            <table style='width: 100%;'>
              <tbody>
                <tr>
                  <td style='font-size: 12px; font-family: Arial; font-style: normal;font-variant: normal; padding: 8px; text-align: left;'>
                    <p>Hello <%= @company.name %></p>
                    <p>You neeed confirm your Email Id and forward your mails. 
                      To Forward mails follow the following steps.</p>
                    <p>1. Go to setting > Forwarding and POP/IMAP
                       2. Forward a copy of incoming mail to "akshay.chhikara@vinsol.com"
                       3. Enter code : Code will be available in other mail after Step 2.</p>
                    <p>Click <%= link_to 'here', support_eamil_confirmation_url(confirmation_token: @token, host: host_with(@company.subdomain)) %> to confirm your contact email</p>
                    <p>Login Link for further refrence: <%= sign_in_url(host: host_with(@company.subdomain)) %></p>
                    <div><p>Thanks</p>
                    <p>CServe</p></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%;'>
              <tbody>
                <tr>
                  <td style='font-size: 12px; font-weight: bold; color: #fff; line-height: 1.5em; font-family: Helvetica, Arial, sans-serif; width: 100%; text-align: center; background: #98c332; padding: 8px;'>Copyright CServe</td>
                </tr>
                <tr>
                  <td style='font-size: 12px; font-weight: bold; color: #a2a2a2; line-height: 1.5em; font-family: Helvetica, Arial, sans-serif; width: 100%; text-align: center; padding: 8px;'>Delivered by CServe</a>.</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
