<p>Hi</p>

<p>Your request #<%= link_to "#{ @ticket.id }", ticket_url(@ticket, host: host_with(@ticket.company_subdomain)) %> has got a new comment.</p>
<h4>Comment :</h4>
<pre><%= @comment.text %></pre>
<p>To add additional comments, please follow the given link.</p>
<p><%= ticket_url(@ticket, host: host_with(@ticket.company_subdomain)) %></p><br />

<p>Thanks</p>
<p><%= @ticket.company_name %></p>
