.bg-color{
  background-color: #eee;
}
.form {
  margin: 150px auto;
  max-width: 350px;
}
.sign-up-form {
  max-width: 500px;
  margin: 150px auto;
}
.form-control{
  height: 45px;
  font-size: 16px;
}
.alert {
  margin: 0 auto;
  text-align: center;
}
.checkbox {
  font-size: 17px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 5px;
  display: inline-block;
}
.mt-5 {
  margin-top: 5px;
}
.instructions {
  position: absolute;
  width: 100px;
  top: 0;
  left: 100%;
  margin-left: 20px;
  font-size: 0.95em;
}
.password-container, .instruction-container{
  position: relative;
}
.form-horizontal .control-label {
  text-align: left;
}
label {
  font-weight: normal;
  font-size: 17px; 
}
.errors{
  color: red;
  padding: 5px;
}
.field_with_errors input{
  border-color: red;
}
.btn-len {
  width: 45%;
  padding: 10px;
}
.field_with_errors textarea {
  border-color: red;
}
.text-size {
  font-size: 35px;
}
.navbar{
  margin-bottom: 0px;
}
