<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div style='margin: 0px auto;text-align: center;font-size: 12px;color: #a2a2a2; padding-bottom: 6px;' ></div>
    <table style='width: 100%;' cellspacing='0' cellpadding='0' >
      <tbody>
        <tr>
          <td>
            <table style='width: 100%;'>
              <tbody>
                <tr>
                  <td style='font-size: 12px; font-weight: bold; color: #fff; line-height: 1.5em; font-family: Helvetica, Arial, sans-serif; width: 100%; text-align: center; background: #98c332; padding: 8px; margin: 4px;'>Confirmation Instructions</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style='text-align: center; padding-left: 4px;'>
            <table style='width: 100%;'>
              <tbody>
                <tr>
                  <td style='font-size: 12px; font-family: Arial; font-style: normal;font-variant: normal; padding: 8px; text-align: left;'>
                    <p>Hello <%= @resource.name %>(<%= @resource.company.name %>)</p>
                    <p>Someone has requested a link to change your password. You can do this through the link below.</p>   
                    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token, host: host_with(@resource.subdomain)) %></p>
                    <div><p>Regards
                    <p>CServe</p></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style='width: 100%;'>
              <tbody>
                <tr>
                  <td style='font-size: 12px; font-weight: bold; color: #fff; line-height: 1.5em; font-family: Helvetica, Arial, sans-serif; width: 100%; text-align: center; background: #98c332; padding: 8px;'>Copyright CServe</td>
                </tr>
                <tr>
                  <td style='font-size: 12px; font-weight: bold; color: #a2a2a2; line-height: 1.5em; font-family: Helvetica, Arial, sans-serif; width: 100%; text-align: center; padding: 8px;'>Delivered by CServe</a>.</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
